<section class="TodoSection">
  <section class="TodoSection-Title">
    <h2 class="TodoSection-TitleName"><%=section_title%></h2>
    <h2 clss="TodoSection-Count"><%=todos.completed.count%>/<%=todos.count%></h2>
  </section>
  <ul>
    <%todos.all.each do |todo|%>
      <li class="TodoItem">
        <label class="TodoItem-Container">
          <%=form_with(url:"/todos/#{todo.id}" , method: "put") do  %>
            <input class="TodoItem-Checkbox"
              name="completed"
              type="checkbox" <%= todo.completed ? "checked" : "" %>
              onclick="this.form.submit()"
            />
          <%end%>
          <p class='<%= todo.completed ? "TodoItem-Text-Completed" : ""%>'><%= todo.todo_text%></p>
          <%if (show_due_date)%>
            <p class="TodoItem-Date"><%=todo.due_date.to_s(:short)%></p>
          <%end%>
          <a class="TodoItem-Delete" href="javascript:void(0)">
            <%=form_with(url:"/todos/#{todo.id}",method:"delete") do%>
              <%=image_submit_tag "trashcan.svg" %>
            <%end%>
          </a>
        </label>
      </li>
    <%end%>
  </ul>
</section>
